* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.border {
  border: 2px solid red;
  margin: 5px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.bg-black{
  background-color: black;
  color: white;
}
.bg-grey{
  background-color: #121212;
}
.invert{
  filter: invert(1);
}
.rounded{
  border-radius: 7px;
}
.m-1{
  margin: 5px;
}
.p-1{
  padding: 20px;
}


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}



.range input[type="range"] {
  width: 100px; /* Adjust the width as needed */
  height: 2px; /* Adjust the thickness */
  background-color: rgb(0, 255, 0) !important; /* Force green color */
  border: none; /* Remove default border */
  outline: none; /* Remove default outline */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

/* Optional: Change the appearance of the thumb */
.range input[type="range"]::-webkit-slider-thumb {
  width: 8px; /* Adjust the size of the thumb */
  height: 8px;
  background-color: rgb(0, 255, 0) !important; /* Force green color */
  border-radius: 50%; /* Optional: Make the thumb round */
}
