* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.border {
  border: 2px solid red;
  margin: 5px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.bg-black{
  background-color: black;
  color: white;
}
.bg-grey{
  background-color: #121212;
}
.invert{
  filter: invert(1);
}
.rounded{
  border-radius: 7px;
}
.m-1{
  margin: 5px;
}
.p-1{
  padding: 20px;
}



*::-webkit-scrollbar-thumb {
  background-color: rgba(165, 165, 165, 0.5); /* Adjust colors as needed */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid rgba(255, 255, 255, 0.1); /* Adjust colors as needed */
}

/* Remove scrollbar arrows */
*::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #575656;
  border-radius: 10px;
}